<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="card">
        <div class="card-inner">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h2 class="mt-5">Bem vindo(a) {{ name }}</h2> <!-- Exibe o nome do usuário -->
                <!-- Formulário de login aqui -->
            </div>
        </div>
    </div>
</body>
</html>
