<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Register</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Register</h1>
        <form method="POST" action="{{ url_for('register') }}">
          {{ form.hidden_tag() }}
          <div class="txt_field">
            {{ form.name.label }}
            {{ form.name(class_="input") }}
            <span></span>
          </div>
          <div class="txt_field">
            {{ form.email.label }}
            {{ form.email(class_="input") }}
            <span></span>
          </div>
          <div class="txt_field">
            {{ form.password.label }}
            {{ form.password(class_="input") }}
            <span></span>
          </div>
          <div class="txt_field">
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class_="input") }}
            <span></span>
          </div>
          <div class="group-button">
            <button type="submit" class="glow-on-hover">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
